@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --bg_color: #ffffff;
    --text_color: #111111;
    --main-color: #c8815f;
    --big_font: 4.5rem;
    --h2_font: 3.3rem;
    --normal_font: 1rem;
}
img{
    display: block;
}
body{
    background: var(--bg_color);
    color: var(--text_color);
}
/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 20px 14%;
    z-index: 1000;
    transition: all .35s ease;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text_color);
}
.logo:hover{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--text_color);
    font-weight: 600;
    padding: 10px 25px;
    font-size: var(--normal_font);
    transition: all .36s ease;
    text-transform: capitalize;
}
.navlist a:hover{
    color: var(--main-color);
}
.header-icons i{
    font-size: 32px;
    color: var(--text_color);
    margin-right: 20px;
    transition: all .36s ease;    
}
.header-icons i:hover{
    color: var(--main-color);   
}
#menu-icon{
    font-size: 34px;
    color: var(--text_color);
    margin-right: 20px;
    z-index: 10001;
    display: none;    
}
header.sticky{
    background: var(--bg_color);
    padding: 14px 14%;
    box-shadow: 0 0 0 rgb(0 0 0 / 10%);
}
/* header */

/* content starts here */
section{
    padding: 100px 14%;
    /* border: 5px solid; */
}
.home{
    min-height: 100vh;
    width: 100%;
    background: url(images/one.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.home-text h1{
    font-size: var(--big_font);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 1.4rem;    text-transform: capitalize;
}
.home-text span{
    font-size: var(--h2_font);
}
.home-text p{
    font-size: var(--normal_font);
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
}
.btn{
    display: inline-block;
    padding: 13px 25px;
    background: var(--main-color);
    color: var(--bg_color);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .35s ease;
}
.btn:hover{
    transform: translateY(-10px);
    background-color: var(--text_color);
}
.center-text{
    text-align: center;
    text-transform: uppercase;
}
.center-text h2{
    font-size: var(--h2_font);
}
.center-text h1{
    font-size: 2.8rem;
}
.featured-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1.3rem;
    margin-top: 4rem;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
}
.row{
    position: relative;
    transition: all .35s ease;
}
.row img{
    width: 100%;
    height: auto;
    aspect-ratio: 3/3;
}
.featured-text{
    position: absolute;
    top: 40px;
    left: 50px;
}
.featured-text h5{
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.featured-text p{
    color: #555;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
.row .arrow{
    position: absolute;
    bottom: 40px;
    left: 50px;
}
.row .arrow i{
    width: 35px;
    height: 35px;
    background: var(--bg_color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text_color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}
.row:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}
.row:hover i{
    background: var(--main-color);
    color: var(--bg_color);
}

.cta{
    height: 60vh;
    width: 100%;
    background: url(images/rose.jpg);
    background-size: cover;
    background-position: 20% 5%;
    display: flex;
    align-items: center;
}
.cta-text h6{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin-bottom: 14px;
}
.cta-text h4{
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: 0.6rem;
    margin-bottom: 30px;
}
.new-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.3rem;
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}
.box{
    position: relative;
    transition: all .35s ease;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.box h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box h6{
    font-size: 16px;
    font-weight: 700;
}
.sale{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: var(--main-color);
    color: var(--bg_color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    transform: scale(0.9) translateX(-5px);
    cursor: pointer;
}

.brand{
    padding: 50px 14%;
    border: 3px solid green;
}
.brand-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2rem;
    text-align: center;
    align-items: center;
}
.brand-logo{
    font-size: var(--big_font);
    opacity: 0.5;
}
.brand-logo:hover{
    opacity: 1;
}

.contact{
    background: var(--text_color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    /* border: 1px solid brown; */
}
.contact h3{
    font-size: 23px;
    margin-bottom: 1.6rem;
    color: var(--bg_color);
}
.main-contact h5{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}
.social-icons{
    display: inline-flex;
    margin-top: 2rem;
    /* border: 1px solid green; */
}
.social-icons i{
    font-size: 30px;
    margin-right: 0.8rem;
    color: #555;
    transition: all .35s ease;
}
.social-icons i:hover{
    transform: scale(0.9) translateY(-5px);
    color: var(--bg_color);
}
.main-contact li a{
    display: block;
    color: #555;
    font-size: var(--normal_font);
    font-weight: 600;
    transition: all .35s ease;
}
.main-contact li a:hover{
    transform: translateX(-8px);
    color: var(--bg_color);
}
.last-text{
    text-align: center;
    padding: 20px;
    background: var(--text_color);
}
.last-text p{
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
}
.top{
    position: fixed;
    bottom: 2em;
    right: 2em;
}
.top i{
    font-size: 22px;
    color: var(--bg_color);
    padding: 15px;
    background: var(--main-color);
    border-radius: 2rem;
}

/* Media queries... */
@media (max-width: 1000px){
    header{
        padding: 7px 4%;
        transition: 0.2s;
    }
    header.sticky{
        padding: 14px 4%;
        transition: 0.2s;
    }
    section{
        padding: 80px 4%;
        transition: 0.1s;
    }
}


@media (max-width: 670px)
{
    #menu-icon{
        display: block;
    }
    .header-icons{
        display: inline-flex;
    }
    .navlist{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 280px;
        height: 120vh;
        background: var(--bg_color);
        display: flex;
        flex-direction: column;
        padding: 150px 30px;
        transition: all 0.45s ease;
    }
    .navlist a{
        display: block;
        margin: 1.2 rem 0;
    }
    .navlist.open{
        left: 0;
    }
}










